@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.navbar-logo {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 2rem; */
}

.navbar-photoURL {
  width:40px;
  height:40px;
  margin-left: 1em;
}

.profile-image {
  width: 150px;
}

.profile-settings-photo {
  width: 80px;
  height: 80px;
}

.workout-post-image {
  width: 20vw;
}

.heart-count {
  font-size: 2em;
  display: inline-block;
}

.heart-icon {
  display: inline-block;
  color: black;
}

.heart-icon:hover {
  cursor: pointer;
  color: black;
}

.main-custom-link {
  text-decoration: none;
  color: #5B8090;
}

.main-custom-link:hover {
  text-decoration: none;
  color: #1F282D;
}

hr {
  width: 75%;
  size: 3;
  color: black;
}

.margin-top-profile {
  margin-top: 3em;
}

.margin-bottom-profile {
  margin-bottom: 1.5em;
}

.loading-spinner-container {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
